.ClueberryDashboardPage {
    --border-light-color: #353535;
    padding: var(--main-p-x);
    min-height: calc(100vh - 60px);
    background-color: var(--main-Bg);
    overflow-x: hidden;

    h2 {
        color: var(--primary-color);
        margin-bottom: 2rem;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .box {
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            justify-content: center;
            padding: calc(var(--main-p-x)* 2) var(--main-p-x);
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            font-size: var(--font-lg);
            background-color: #000;
            border: 1px solid #353535;
            border-radius: 6px;
            transition: transform .4s ease-in-out,
                color .2s ease-in-out;

            svg {
                height: 24px;
                width: 50px;
                object-fit: contain;
                transition: transform .2s ease-in-out;
            }

            &:hover {
                border-color: #fff;
                background-color: #ffffff12;
                color: var(--star-color);
                transform: scale(1.05);

                svg {
                    transform: translateX(20px) scale(1.2);

                    path {
                        fill: var(--star-color);
                    }
                }
            }
        }
    }

    .data-table {
        padding: var(--main-p-x) 0;
        margin: var(--main-p-x) 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        .p-datatable-header {
            color: var(--primary-color);
            display: flex;
            padding: var(--main-p-x);
            border-radius: 6px 6px 0px 0px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #353535;

            h4 {
                font-size: var(--font-lg);
            }

            .search-box {
                background: transparent;
                border: 1px solid #353535;
                border-radius: 3px;
                padding: 0;
                overflow: hidden;
                display: flex;
                align-items: stretch;

                input {
                    padding: 8px;
                    background-color: transparent;
                    color: var(--primary-color);
                    outline: none;
                    font-size: 1rem;
                    font-weight: 600;
                    border: none;
                }

                i {
                    border: none;
                    padding: 8px;
                    color: #000;
                    font-weight: 900;
                    background-color: #ff9800;
                    cursor: pointer;
                    transition: opacity .2 ease-in-out;

                    &:hover {
                        opacity: .86
                    }
                }

                &:has(input:focus-visible) {
                    border-color: var(--primary-color);
                }
            }
        }

        .table {
            overflow-x: scroll;


            .tag {
                padding: 5px 10px;
                border-radius: 20px;
                text-align: center;

                &.Active {
                    background-color: #00ff0ab5;
                }

                &.Inactive,
                &.Suspended {
                    background-color: #ff9800;
                }

                &.Cancelled {
                    background-color: #F44336;
                }
            }

            .actions {
                display: flex;
                gap: 1rem;
                justify-content: space-between;

                i {
                    cursor: pointer;
                    font-size: 1.3rem;
                }
            }

            table {
                width: 100%;
                border-collapse: collapse;
                border: 1px solid var(--border-light-color);

                thead {
                    color: var(--star-color);
                    background-color: var(--main-Bg);
                    font-weight: bold;
                    border-bottom: 1px solid var(--border-light-color);

                    .p-column-header-content {
                        gap: .5rem;
                        justify-content: space-between;
                    }

                    th {
                        padding: 12px;
                        text-align: left;
                        border-right: 1px solid var(--border-light-color); // Right border for column separation
                        white-space: nowrap;

                        // Remove the right border for the last header cell
                        &:last-child {
                            border-right: none;
                        }
                    }
                }

                .p-column-filter.p-fluid.p-column-filter-row {
                    background: transparent;
                    border: 1px solid #353535;
                    border-radius: 3px;
                    padding: 0;
                    overflow: hidden;
                    display: flex;
                    align-items: stretch;

                    input {
                        padding: 8px;
                        background-color: transparent;
                        color: var(--primary-color);
                        outline: none;
                        font-size: 1rem;
                        font-weight: 600;
                        border: none;
                    }

                    i {
                        border: none;
                        padding: 8px;
                        color: #000;
                        font-weight: 900;
                        cursor: pointer;
                        background-color: #ff9800;
                        transition: opacity .2 ease-in-out;

                        &:hover {
                            opacity: .86
                        }
                    }


                    .p-column-filter-clear-button.p-link.p-hidden-space,
                    .p-column-filter-menu-button.p-link {
                        display: none;
                    }

                    .p-column-filter-clear-button.p-link {
                        background-color: #00bcd4;
                    }

                    &:has(input:focus-visible) {
                        border-color: var(--primary-color);
                    }
                }

                // Row styles
                tbody {

                    tr {
                        background-color: var(--main-Bg);
                        transition: background-color 0.3s;

                        td {
                            white-space: nowrap;
                            font-weight: 300;
                            font-size: .9rem;
                            padding: 10px;
                            color: var(--primary-color);
                            background-color: var(--main-Bg);
                            border-bottom: 1px solid var(--border-light-color); // Bottom border for rows
                            border-right: 1px solid var(--border-light-color); // Right border for column separation

                            // Remove the right border for the last cell in each row
                            &:last-child {
                                border-right: none;
                            }
                        }

                    }
                }
            }
        }

        .p-paginator-bottom.p-paginator.p-component {
            overflow: hidden;
            width: 100%;
            background-color: var(--main-Bg);
            display: flex;
            gap: 1rem;
            padding: var(--main-p-x);

            .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
                color: var(--primary-color);
                padding: 5px;
                background-color: #353535;
            }



            button,
            i {
                font-size: 1.5rem;
                color: var(--primary-color);
            }

            button:hover {
                background-color: #353535;
            }
        }
    }
}

.p-dropdown.p-component.p-inputwrapper {
    gap: 10px;
}

.p-dropdown-items-wrapper,
.p-column-filter-overlay {

    ul.p-dropdown-items,
    .p-column-filter-row-items {
        padding: 4px;
        background-color: var(--main-Bg);

        li.p-dropdown-item,
        .p-column-filter-row-item {
            padding: 6px 10px;
            color: var(--star-color);

            span.p-dropdown-item-label {
                color: var(--star-color);
            }

            &:hover {
                background-color: #4b4b4b5c;
            }
        }

    }
}