.Visitor_Insight_Page {
    padding: var(--main-p-x);
    background-color: #fff;

    .filters {
        .row {
            margin: 2rem 0 1rem 0;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            gap: 1rem;
        }
    }

}