.Visitor_Insight_Page {
    padding: var(--main-p-x);

    .filters {
        .row {
            margin: 2rem 0 1rem 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            select {
                padding: 5px 10px;
                // appearance: none;
            }
        }
    }

}