.CreateStaffToken {
    background-color: var(--main-Bg);
    min-height: calc(100vh - var(--header-h));
    padding: var(--main-p-x);

    .header {
        margin-top: 2rem;
        color: var(--xp-primary-color);
    }

    .form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .p-stepper-panels {
            min-height: 200px;
        }

        .footer {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    .p-stepper-panels,
    .p-stepper {
        height: max-content;
    }

    button {
        font-weight: 600;
    }

    .w-full {
        width: 100%;
    }
}